<div class="navbar navbar-expand-sm navbar-light navbar-mm">
  <%= link_to root_path, class: "navbar-brand" do %>
    <div class="logo-mm" style="background-image: url('<%= cl_image_path("MOVIE_MATCH/MM_logo_two", crop: "fill")%>')"></div>
  <% end %>

  <div class="navbar-right-content">
      <% if user_signed_in? %>
        <p>Sign out</p>
      <% else %>
        <div class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "login-link" %>
        </div>
      <% end %>
  </div>
</div>
